<% if @user.errors.any? %> 
<% #any? is the opposite of empty? returns, true if there is something in the array, false otherwise.%> 
	<div id="error_explanation">
		<div class="alert alert-error">
			The form contains <%= pluralize(@user.errors.count, "error") %>
			<% #pluralize, gives the right pluralization of the second argument, according to the number of the first argument. %>
		</div>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>